[submodule "module-crop"]
    path = module-crop
    url = https://github.com/c-m-hall/CASSI_26/main



[submodule "module-resample"]
    path = module-resample
    url = https://github.com/c-m-hall/CASSI_26/main
